@font-face {
  font-family: "CUSTOM FONT";
  src: url('../fonts/custom_font.eot');
  src: url('../fonts/custom_font.eot?#iefix') format('embedded-opentype'),
       url('../fonts/custom_font.woff') format('woff'),
       url('../fonts/custom_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}